<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>862367691871-ol7a98f2fl1ksapbukq408ma0pnkko2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862367691871-ol7a98f2fl1ksapbukq408ma0pnkko2c</string>
	<key>API_KEY</key>
	<string>AIzaSyD1WjsAbQyvmRWryiT2MJC1ifk7HYlNm54</string>
	<key>GCM_SENDER_ID</key>
	<string>862367691871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HomeRefresher</string>
	<key>PROJECT_ID</key>
	<string>homerefresh-yes</string>
	<key>STORAGE_BUCKET</key>
	<string>homerefresh-yes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862367691871:ios:995207003d6b2fcf</string>
	<key>DATABASE_URL</key>
	<string>https://homerefresh-yes.firebaseio.com</string>
</dict>
</plist>